.button1{
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color:#447cff;
    letter-spacing: 1.5px;
    font-size: 20px;
    transition: all .3s ease;
    box-shadow: rgb(141, 244, 252) 0px 6px 6px 0px;
    color: hsl(0, 0%, 100%);
    margin-right: 2 rem;
   
   }
   
   .button1:hover {
    box-shadow:rgb(243, 6, 243) 0px 6px 6px 0px;
   }
   
   .button1:active {
    background-color: rgb(94, 231, 53);
    /*50, 168, 80*/
    box-shadow: rgb(94, 231, 53) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }